<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Global_Hooker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Global_Hooker.Properties.Settings>
            <setting name="EmailAddresser" serializeAs="String">
                <value>H4Aksm006MphhHGgKnLl5+xKgag8SsOnoLhKMPCXHkw=</value>
            </setting>
            <setting name="EmailAddressee" serializeAs="String">
                <value>G64oYkSAfNiwzRurjjVNRw==</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>Q01M/F4aK7CV5sdj2OHEXoUEpLOOUqEEcw+5SI9toD8=</value>
            </setting>
            <setting name="HiddenMode" serializeAs="String">
                <value>K3a0FVEM68F6VhawrOpSsA==</value>
            </setting>
            <setting name="MaxFileSize" serializeAs="String">
                <value>Td83aN9Orj65I5LGXeETVg==</value>
            </setting>
        </Global_Hooker.Properties.Settings>
    </userSettings>
</configuration>